<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.amk.stocktipsapp">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_stock_tips"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_stock_tips_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.StockTipsApp">
        <activity
            android:name="ru.amk.candle_chart.CandleChartActivity"
            android:parentActivityName="ru.amk.company_list.CompanyListActivity">

        </activity>
    </application>

</manifest>